:root {
  font-family: Pretendard, sans-serif;
  line-height: 1.5;

  color: white;
  -webkit-text-stroke: 2.5px black;
  font-size: 50px;
  font-weight: 800;
  word-break: keep-all;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
